@import "../mixins/mixins";

.catalog {
  @include container;
  padding-top: 50px;
  padding-bottom: 44px;
  background-color: $back-light-grey;
}

.catalog__wrapper {
  @include adaptive-width;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  @include media-min(lg) {
    column-gap: 30px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.catalog__category {
  @include h4(center);
}
.catalog__header {
  @include h2(center);
  margin: 0 auto 20px;
  width: 80%;

  @include media-min(md) {
    width: 100%;
  }

  @include media-min(lg) {
    margin-bottom: 40px;
  }
}

.catalog__filter-form {
  @include reset-flex-column-list(32px);
  @include media-min(md) {
    @include reset-flex-column-list(40px);
  }
}
.catalog__fieldset-wrapper {
  @include reset-flex-column-list(0);
  width: 100%;
  align-items: center;
  @include media-min(md) {
    flex-direction: row;
    justify-content: space-between;
  }
  @include media-min(lg) {
    flex-direction: column;
    column-gap: 22px;
  }
}

.catalog__price-field {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 0 23px;
  padding: 0;
  border: none;
  width: 280px;
  @include media-min(md) {
    width: 220px;
  }
  @include media-min(lg) {
    width: 320px;
    margin-bottom: 30px;
  }
}

.catalog__milk-field,
.catalog__country-field {
  border: none;
  @include reset-flex-column-list(21px);
  margin: 0;
  width: 280px;
  @include media-min(md) {
    width: 220px;
  }
  @include media-min(lg) {
    width: 320px;
  }
}

.catalog__milk-field {
  margin-bottom: 23px;

  @include media-min(md) {
    margin-bottom: 30px;
  }
}

.catalog__price-field-header,
.catalog__milk-field-header,
.catalog__country-field-header {
  @include label;
  margin-bottom: 25px;
}

.catalog__min-button,
.catalog__max-button {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  border: 2px solid $alt-lighter;
  background-color: $back-light-grey;
}

.catalog__range-scale {
  position: relative;
  width: 280px;
  height: 4px;
  background-color: $alt-grey;
  margin-bottom: 25px;
  @include media-min(md) {
    margin-bottom: 22px;
    width: 220px;
  }
  @include media-min(lg) {
    width: 320px;
  }
}
.catalog__range-bar {
  position: absolute;
  height: 4px;
  background-color: $alt-lighter;
}
.catalog__range-toggle {
  position: absolute;
  background: $base-white;
  border-radius: 50%;
  border: 2px solid $alt-lighter;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  outline: 0;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  }
  &:active,
  :focus {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  }
}
.catalog__toggle-min {
  top: -9px;
}

.catalog__toggle-max {
  top: -9px;
  left: 157px;
}

.catalog__price-input-wrapper {
  width: 280px;
  @include reset-flex-list(0);
  justify-content: space-between;

  @include media-min(md) {
    width: 220px;
  }

  @include media-min(lg) {
    width: 320px;
  }
}

.catalog__price-min,
.catalog__price-max {
  width: 40%;
}
.catalog__price-min {
  &:after {
    display: block;
    position: relative;
    content: "";
    width: 9px;
    height: 2px;
    background-color: $base-grey;
    left: 100%;
    top: -50%;
    transform: translateX(25px);

    @include media-min(md) {
      transform: translateX(17px);
    }
  }
}

.catalog__price-input {
  width: 100%;
  padding: 7px 10px;
}

.catalog__max-button {
}

.catalog__milk-field-label {
  @include filter-text;
}
.catalog__milk-field-input {
}

.catalog__country-field-label {
  @include filter-text;
}
.catalog__country-field-input {
}
.catalog__button-wrapper {
  @include reset-flex-column-list(24px);
  margin-bottom: 36px;
  align-items: center;

  @include media-min(md) {
    flex-direction: row;
    row-gap: 33px;
    margin-bottom: 52px;
    justify-content: center;
  }

  @include media-min(lg) {
    row-gap: 18px;
    width: 320px;
  }
}

.catalog__submit-button {
  @include btn;
  font-size: 14px;
  line-height: 24px;
  padding: 14px 8px;
  width: fit-content;
}

.catalog__reset-button {
  @include reset-btn;
  font-size: 14px;
  line-height: 24px;
  padding: 14px 8px;
  width: fit-content;
}
.catalog__sorting {
  display: block;
  margin: 0 auto;
  @include media-min(md) {
    margin: 0 0 0 auto;
  }
}
.catalog__sorting-option {
}

.catalog__products-wrapper {
  @include reset-flex-column-list(0);
  align-items: center;

  @include media-min(md) {
    align-items: flex-end;
  }
}

.catalog__products-list {
  @include reset-flex-column-list(10px);
  margin-bottom: 40px;
  @include media-min(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 70px;
  }

  @include media-min(dmd) {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 60px;
  }

  @include media-min(xl) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.catalog__product-item {
  padding: 30px;
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: $base-white;
  border-radius: 4px;
  align-self: center;
  @include media-min(md) {
    grid-template-columns: 35% 65%;
  }

  > picture {
    grid-column: 1/-1;
    justify-self: center;
  }
}

.catalog__product-header {
  @include h3;
  grid-column: 1/-1;
}
.catalog__product-text {
  @include small-text;
  grid-column: 1/-1;
}
.catalog__product-price {
  @include price;
  grid-column: 1/2;
}
.catalog__product-button {
  grid-column: 2/-1;
  justify-self: flex-end;
  @include product-btn;
}
.catalog__product-button-icon {
  margin-right: 5px;
}
.catalog__pagination {
  display: flex;
  list-style: none;
  column-gap: 20px;
  padding: 0;
  margin: 0;
  max-width: map-get($widths, xs);

  @include media-min(md) {
    max-width: 100%;
  }
}

.catalog__pagination-back-button,
.catalog__pagination-forward-button {
  border: none;
  @include text;
  @include pagination-icon-button;
  min-width: 40px;
  min-height: 40px;
  border-radius: 4px;
  > span {
    display: none;
  }

  @include media-min(md) {
    min-width: 92px;
    > svg {
      display: none;
    }

    > span {
      padding: 8px 20px;
      display: block;
    }
  }
}

.catalog__pagination-item-link {
  @include text;
  @include pagination-number-button;
  border-radius: 4px;
  display: block;
  min-width: 40px;
  min-height: 40px;
  padding: 8px;
  @include media-min(lg) {
    text-align: center;
  }
}
