@import "../mixins/mixins";

.catalog {
  @include container;
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  @include sub-container;
  @include media-min(lg) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.catalog__category {
  @include h4(center);
}
.catalog__header {
  @include h1(center);
}

.catalog__filter-form {
  @include reset-flex-column-list(32px);
  @include media-min(md) {
    @include reset-flex-column-list(40px);
  }
}
.catalog__fieldset-wrapper {
  @include reset-flex-column-list(0);
  margin: 0 auto;
  @include media-min(md) {
    flex-direction: row;
  }
  @include media-min(lg) {
    margin: 0;
    flex-direction: column;
  }
}

.catalog__price-field {
  border: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 40% 20% 40%;
}

.catalog__price-field-header {
  @include label;
}

.catalog__price-input {
  width: 120px;
}

.catalog__min-button,
.catalog__max-button {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  border: 2px solid $alt-lighter;
  background-color: $back-light-grey;
}

.catalog__price-range {
  width: 100%;
  grid-column: 1/-1;
}

.catalog__price-min {
  grid-column: 1/2;
}

.catalog__price-max {
  grid-column: 3/-1;
}

.catalog__max-button {
}
.catalog__milk-field {
  border: none;
  @include reset-flex-column-list(21px);
}
.catalog__milk-field-header {
  @include label;
}
.catalog__milk-field-label {
  @include filter-text;
}
.catalog__milk-field-input {
}
.catalog__country-fied {
  border: none;
  @include reset-flex-column-list(21px);
}
.catalog__country-field-header {
  @include label;
}
.catalog__country-field-label {
  @include filter-text;
}
.catalog__country-field-input {
}
.catalog__button-wrapper {
  margin: 0 auto;
}
.catalog__submit-button {
  @include btn;
}

.catalog__reset-button {
}
.catalog__sorting {
  display: block;
  margin: 0 auto;
  @include media-min(md) {
    margin: 0 0 0 auto;
  }
}
.catalog__sorting-option {
}
.catalog__products-wrapper {
}
.catalog__products-list {
  @include reset-flex-column-list(10px);
  @include media-min(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-min(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.catalog__product-item {
  padding: 30px;
  display: grid;
  grid-template-columns: 40% 60%;
  max-width: 280px;
  margin: 0 auto;
  @include media-min(md) {
    max-width: 349px;
    grid-template-columns: 45% 55%;
  }

  @include media-min(lg) {
    max-width: 319px;
  }

  > picture {
    grid-column: 1/-1;
    justify-self: center;
  }
}

.catalog__product-header {
  @include h3;
  grid-column: 1/-1;
}
.catalog__product-text {
  grid-column: 1/-1;
  @include small-text;
}
.catalog__product-price {
  grid-column: 1/2;
}
.catalog__product-button {
  grid-column: 2/-1;
  @include product-btn;
}
.catalog__product-button-icon {
  margin-right: 5px;
}
.catalog__pagination {
  display: flex;
  list-style: none;
  justify-content: space-between;
  @include sub-container;
  @include media-min(md) {
    justify-content: end;
  }
}
.catalog__pagination-item {
}
.catalog__pagination-back-button,
.catalog__pagination-forward-button {
  border: none;
  @include text;
  min-width: 40px;
  min-height: 40px;
  background-color: $base-white;
  color: $base-primary;
  > span {
    display: none;
  }

  @include media-min(md) {
    min-width: 92px;

    >svg {
      display: none;
    }

    > span {
      display: block;
    }
  }
}
.catalog__pagination-back-button-icon {
}
.catalog__pagination-number-element {
}
.catalog__pagination-item-link {
  @include text;
  display: block;
  min-width: 40px;
  min-height: 40px;
  padding: 8px;
  background-color: $base-white;
  color: $base-primary;

  &--active {
    background-color: $base-grey;
    color: $base-black;
  }
}
.catalog__pagination-forward-button-icon {
}
