@import "../mixins/mixins";

.features {
  @include container;
  padding-top: 50px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  background-color: $base-white;
}

.features__category {
  @include h4(center);
  margin-bottom: 4px;

}
.features__header {
  align-self: center;
  @include h2(center);
  margin-bottom: 36px;

  @include media-min(md) {
    width: 80%;
    margin-bottom: 60px;
  }

  @include media-min(md) {
    margin-bottom: 80px;
  }
}
.features__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 32px;
  padding: 0;
  margin: 0 auto;
  @include media-min(md) {
    flex-direction: row;
    row-gap: 50px;
    column-gap: 30px;
    width: auto;
  }
}
.features__item {
  @include media-min(md) {
    column-gap: 75px;
  }
}
.features__item-icon {
  display: block;
  margin: 0 auto;
}

.features__item-header {
  @include h2(center);
}

.features__item-text {
  @include feature-text;
  margin: 0 auto;
  width: 70%;
}
