@import "../mixins/mixins";

.features {
  @include container;
  padding-top: 50px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  background-color: $base-white;

  @include media-min(md) {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  @include media-min(lg) {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.features__category {
  @include h4(center);
  margin-bottom: 4px;
}
.features__header {
  align-self: center;
  @include h2(center);
  margin-bottom: 36px;

  @include media-min(md) {
    width: 80%;
    margin-bottom: 60px;
  }

  @include media-min(md) {
    margin-bottom: 80px;
  }
}
.features__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 32px;
  padding: 0;
  margin: 0 auto;
  @include media-min(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 30px;
    width: auto;
  }

  @include media-min(lg) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
.features__item {
  @include reset-flex-column-list(4px);
  padding: 60px 0 0;
  @include media-min(md) {
    row-gap: 10px;
    padding: 0 0 0 82px;
  }

  @include media-min(lg) {
    padding: 72px 0 0;
  }

  &--speed-item {
    background: url("/img/speed-icon.svg") 50% 0 no-repeat;
    @include media-min(md) {
      background-position: 10px 12px;
    }

    @include media-min(lg) {
      background-position: 50% 0;
    }
  }

  &--fit-item {
    background: url("/img/fit-icon.svg") 50% 0 no-repeat;
    @include media-min(md) {
      background-position: 10px 12px;
    }

    @include media-min(lg) {
      background-position: 50% 0;
    }
  }

  &--energy-item {
    background: url("/img/energy-icon.svg") 50% 0 no-repeat;
    @include media-min(md) {
      background-position: 10px 12px;
    }

    @include media-min(lg) {
      background-position: 50% 0;
    }
  }

  &--eco-item {
    background: url("/img/eco-icon.svg") 50% 0 no-repeat;
    @include media-min(md) {
      background-position: 10px 12px;
    }

    @include media-min(lg) {
      background-position: 50% 0;
    }
  }
}
.features__item-icon {
  display: block;
  margin: 0 auto;

  @include media-min(md) {
    margin: 15px 0 35px 0;
    grid-row: 1/-1;
  }

  @include media-min(lg) {
    margin: 0 auto;
  }
}

.features__item-header {
  @include h2(center);

  @include media-min(md) {
    text-align: left;
  }
  @include media-min(lg) {
    text-align: center;
  }
}

.features__item-text {
  @include feature-text;
  @include media-min(md) {
    grid-column: 2/-1;
  }
}
