@import "../mixins/mixins";

.footer {
  @include container;
}

.footer__menu-section {
  display: none;
  @include media-min(md) {
    @include reset-flex-list;
    justify-content: space-between;
    flex-wrap: wrap;
  }

}

.footer__logo-wrapper {
  width: 100%;

  > span {
    display: none;
    @include media-min(lg) {
      display: inline-block;
      @include footer-logo-text;
    }
  }
}

.footer__logo-social-wrapper {
}

.footer__logo {
}
.footer__menu {
  @include reset-flex-list(0);
}
.footer__menu-list {
  width: 350px;
  @include reset-flex-column-list(0);
}
.footer__menu-list-header {
  @include h4;
}
.footer__menu-list-item {
  > span {
    @include footer-logo-text;
  }
}
.footer__menu-link {
  @include footer-link;
}
