@import "../mixins/mixins";

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__logo-wrapper {
  display: flex;ß
  align-items: center;

  padding-left: $gap-sm;

  @include media-min(md) {
    padding-left: $gap-md;
  }
  @include media-min(lg) {
    padding-left: $gap-lg;
  }
}

.header__logo-text {
  display: none;
  @include media-min(lg) {
    @include logo-text;
    width: 160px;
    display: block;
    padding: 20px;
  }
}

.header__nav-list {
  @include media-max(md) {
    order: 3;
    width: 100%;

    &--closed {
      display: none;
    }
  }
}

.header__utility-list {
  @include reset-flex-list;

  padding-right: $gap-sm;

  @include media-min(md) {
    padding-right: $gap-md;
  }
  @include media-min(lg) {
    padding-right: $gap-lg;
  }
}
.header__utiliy-item {
}
.header__utility-link {
  @include svg-link;
  > span {
    display: none;
    @include media-min(lg) {
      @include reset;
      display: inline-block;
    }
  }
}

.header__utility-icon {
  @include reset;
}
