@import "../mixins/mixins";

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__container {
  width: map-get($widths, xs);
  @include media-min(md) {
    width: map-get($widths, md);
  }
  @include media-min(lg) {
    width: map-get($widths, lg);
  }
}

.header__logo-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  column-gap: 20px;
  align-items: center;

  margin-left: $gap-sm;
  @include media-min(md) {
    margin-left: $gap-md;
  }
  @include media-min(lg) {
    margin-left: $gap-lg;
  }
}

.header__logo-text {
  display: none;
  @include media-min(lg) {
    @include logo-text;
    width: 160px;
    display: block;
    padding: 0;
  }
}

.header__nav-item {
  border-top: 2px solid $base-secondary;
  &:last-child {
    border-bottom: 2px solid $base-secondary;
  }

  @include media-min(md) {
    border: none;
    &:last-child {
      border: none;
    }
  }
}


.header__nav-item-link {
  @include menu-link;
}

.header__utility-list {
  @include reset-flex-list(0);
  margin-left: auto;
  @include media-min(md) {
    margin: 0;
    order: 3;
    margin-right: $gap-md;
  }
  @include media-min(lg) {
    margin-right: $gap-lg;
  }
}
.header__utility-link {
  @include svg-link;
  display: inline-flex;
  column-gap: 8px;
  > span {
    display: none;
    padding: 0;
    margin: auto 0;
    @include media-min(lg) {
      display: block;
    }
  }
}

.header__utility-icon {
  @include reset;
}

.header__nav-list {
  @include reset-flex-column-list(0);
  order: 3;
  width: 100%;
  display: none;
  &--opened {
    display: flex;
  }

  @include media-min(md) {
    order: 2;
    @include reset-flex-list(0);
    width: fit-content;
  }
}

.header__nav-list--opened ~ .header__utility-item-burger {
  &::before {
    transform: translateY(3px) rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  span {
    opacity: 0;
  }
}

.header__utility-item-burger {
  z-index: 2;
  display: block;
  padding: 26px 22px;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 25%;

  span {
    font-size: 0;
  }

  &::before,
  &::after,
  span {
    left: 5px;
    display: block;
    width: 15px;
    height: 1.5px;
    content: "";
    background-color: $base-black;
    transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
  }
  &::before {
    transform: translateY(-3.75px);
  }
  &::after {
    transform: translateY(3.75px);
  }

  &:hover::before,
  &:hover::after,
  &:hover span {
    text-underline-offset: 2px;
    background-color: $base-black;
  }

  @include media-min(md) {
    display: none;
  }
}
