@import "../mixins/mixins";

.intro {
  @include container;
  display: flex;
  justify-content: space-between;
  background-color: $back-flat-white;
  padding-top: 20px;
  padding-bottom: 60px;
  @include media-min(md) {
    padding-top: 60px;
    padding-bottom: 308px;
  }
}

.intro__swiper-card {
  position: relative;
}

.intro__swiper-img {
  position: relative;
}

.intro__swiper-text-block {
  @include reset-flex-column-list;
  align-items: center;
  @include media-min(lg) {
    align-items: flex-start;
  }
}

.intro__swiper-category {
  @include h4;
}
.intro__swiper-header {
  @include h1;
}
.intro__swiper-description {
  @include slider-text;
}
.intro__conversion-wrapper {
  @include reset-flex-list;
  align-items: center;
}
.intro__previous-price {
}
.intro__actual-price {
}

.intro__left-button {
}

.intro__right-button {
}
