@import "../mixins/mixins";

.intro {
  background-color: $back-flat-white;

  @include media-min(md) {
    margin-bottom: 172px;
  }

  @include media-min(lg) {
    margin-bottom: 0;
  }
}

.intro__wrapper {
  @include no-padding-conntainer;
  display: flex;
  justify-content: space-between;
}

.intro__swiper-card {
  @include adaptive-width;
  position: relative;
  @include reset-flex-column-list(0);
  padding-top: 20px;
  padding-bottom: 60px;

  > picture {
    margin: 0 auto 10px;
    padding: 0;
  }

  @include media-min(md) {
    padding-top: 60px;
    padding-bottom: 308px;

    > picture {
      position: absolute;
      top: 308px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @include media-min(lg) {
    column-gap: 30px;
    padding-top: 30px;
    padding-bottom: 70px;
    flex-direction: row;
    > picture {
      position: initial;
      transform: translateX(0);
    }
  }
}

.intro__swiper-text-block {
  @include reset-flex-column-list(0);
  align-items: center;
  @include media-min(lg) {
    align-items: flex-start;
    justify-content: center;
  }
}

.intro__swiper-img {
  @include media-min(md) {
    max-width: 600px;
  }
}

.intro__conversion-button {
  @include btn;
}

.intro__swiper-category {
  @include h4;
  margin-bottom: 4px;
}
.intro__swiper-header {
  @include h1;
  margin-bottom: 10px;
}
.intro__swiper-description {
  @include slider-text;
  margin-bottom: 20px;
}
.intro__conversion-wrapper {
  @include reset-flex-list;
  align-items: center;
}
.intro__previous-price {
}
.intro__actual-price {
}

.intro__left-button {
  @include slider-button;
}

.intro__right-button {
  @include slider-revert-button;
}
