@import "../global/variables";

@mixin btn {
    font-family: 'Montserrat', Helvetica, sans-serif;
    margin: 0;
    padding: 8px 20px;
    background-color: $base-primary;
    color: $base-white;
    border: none;
    border-radius: 4px;

    &:hover, :focus{
        background-color: $alt-lighter;
    }

    &:active {
        background-color: $alt-darker;
    }

    &:disabled {
        background-color: $base-grey;
    }
}

@mixin btn-bucket {
    @include btn;

    &::before {
        content: 'ic';
        display: block;
        position: relative;
        width: 20px;
        height: 16px;
        padding-right: 6px;
    }
}