@import "../global/variables";

@mixin btn {
  display: inline-flex;
  align-items: center;
  font-family: "Montserrat", Helvetica, sans-serif;
  margin: 0;
  padding: 8px 20px;
  font-size: $text-size;
  line-height: $text-lh;
  background-color: $base-primary;
  color: $base-white;
  border: none;
  border-radius: 4px;
  font-weight: 400;
  line-height: inherit;
  text-decoration: none;
  width: fit-content;

  &:hover,
  :focus {
    background-color: $alt-lighter;
  }

  &:active {
    background-color: $alt-darker;
  }

  &:disabled {
    background-color: $base-grey;
    cursor: progress;
  }
}

@mixin product-btn {
  @include btn;
  font-size: $small-text-size;
  line-height: $small-text-lh;
}

@mixin reset-btn {
  @include btn;
  padding: 10px 27px;
  color: $base-primary;
  background-color: $base-white;
}

@mixin slider-button {
  padding: 0;
  border: none;
  background-color: transparent;
  min-width: $gap-sm;

  @include media-min(md) {
    min-width: $gap-md;
  }

  @include media-min(md) {
    min-width: $gap-lg;
  }
  &:hover,
  :focus {
    background-image: linear-gradient(
      90deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &:active {
    background-image: linear-gradient(
      90deg,
      rgba(120, 89, 207, 0.25) 0%,
      rgba(120, 89, 207, 0) 100%
    );
  }

  &:disabled {
    color: $base-grey;
  }
}

@mixin slider-revert-button {
  @include slider-button;
  &:hover,
  :focus {
    background-image: linear-gradient(
      270deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &:active {
    background-image: linear-gradient(
      270deg,
      rgba(120, 89, 207, 0.25) 0%,
      rgba(120, 89, 207, 0) 100%
    );
  }
}
