@import "../global/variables";

@mixin text {
  @include reset;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 400;
  font-size: $text-size-mobile;
  line-height: $text-lh-mobile;
  text-align: center;
  color: $base-black;

  @include media-min(md) {
    font-size: $text-size;
    line-height: $text-lh;
  }

  @include media-min(lg) {
    text-align: left;
  }
}

@mixin label {
  @include reset;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 600;
  font-size: $text-size-mobile;
  line-height: $text-lh-mobile;
  text-align: left;
  color: $base-black;

  @include media-min(md) {
    font-size: $text-size;
    line-height: $text-lh;
  }
}

@mixin slider-text {
  @include text;
  font-size: $text-slider-size-mobile;
  line-height: $text-slider-lh-mobile;

  @include media-min(md) {
    font-size: $text-slider-size;
    line-height: $text-slider-lh;
  }

  @include media-min(lg) {
    text-align: left;
  }
}

@mixin filter-text {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 400;
  font-size: $text-filter-size;
  line-height: $text-filter-lh;
  text-align: left;
  color: $base-black;
}

@mixin logo-text {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 400;
  font-size: $logo-text-size;
  line-height: $logo-text-lh;
  text-align: left;
  color: $base-black;
}

@mixin small-text {
  @include logo-text;
  font-size: $small-text-size;
  line-height: $small-text-lh;
}

@mixin feature-text {
  @include reset;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 400;
  font-size: $text-size-mobile;
  line-height: $text-lh-mobile;
  text-align: center;
  color: $base-black;

  @include media-min(md) {
    font-size: $text-size;
    line-height: $text-lh;
    text-align: left;
  }

  @include media-min(lg) {
    text-align: center;
  }
}