/* здесь используйте глобальные переменные */
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width: 320px;


$h1-size-mobile: 36px;
$h1-size: 56px;
$h1-lh-mobile: 48px;
$h1-lh: 80px;

$h2-size-mobile: 24px;
$h2-size: 42px;
$h2-lh-mobile: 36px;
$h2-lh: 64px;

$h3-size-mobile: 18px;
$h3-size: 24px;
$h3-lh-mobile: 32px;
$h3-lh: 36px;

$h4-size: 14px;
$h4-lh: 20px;

$base-primary: #7859CF;
$base-secondary: #F0EBFF;
$base-black: #333333;
$base-grey: #BDBDBD;
$base-white: #FFFFFF;

$alt-opace: rgba(120, 89, 207, 0.25);
$alt-lighter: #9070EC;
$alt-darker: #593CAC;
$alt-grey: #E2E2E2;

$back-light-grey: #F8F8F8;
$back-flat-white: #F3EBE1;
$back-lavender-latte: #EAE6FC;
$back-espresso: #E5E6E8;
