/* здесь используйте глобальные переменные */
$widths: (
  "xs": 320px,
  "md": 768px,
  "dmd": 1000px,
  "lg": 1440px,
  "xl": 1800px,
);

$gap-sm: 20px;
$gap-md: 20px;
$gap-lg: 40px;

//заголовки

$h1-size-mobile: 36px;
$h1-size: 56px;
$h1-lh-mobile: 48px;
$h1-lh: 80px;

$h2-size-mobile: 24px;
$h2-size: 42px;
$h2-lh-mobile: 36px;
$h2-lh: 64px;

$h3-size-mobile: 18px;
$h3-size: 24px;
$h3-lh-mobile: 32px;
$h3-lh: 36px;

$h4-size: 14px;
$h4-lh: 20px;

//текст
$text-size: 16px;
$text-lh: 24px;
$text-weight: 400;
$text-size-mobile: 14px;
$text-lh-mobile: 20px;

$text-slider-size: 20px;
$text-slider-lh: 32px;
$text-slider-size-mobile: 14px;
$text-slider-lh-mobile: 20px;

$text-filter-size: 16px;
$text-filter-lh: 24px;

$logo-text-size: 12px;
$logo-text-lh: 16px;

$small-text-size: 14px;
$small-text-lh: 20px;

//ссылки
$header-link-size: 12px;
$header-link-lh: 16px;

$footer-link-size: 12px;
$footer-link-lh: 16px;

//цвета
$base-primary: #7859cf;
$base-secondary: #f0ebff;
$base-black: #333333;
$base-grey: #bdbdbd;
$base-white: #ffffff;

$alt-opace: rgba(120, 89, 207, 0.25);
$alt-lighter: #9070ec;
$alt-darker: #593cac;
$alt-grey: #e2e2e2;

$back-light-grey: #f8f8f8;
$back-flat-white: #f3ebe1;
$back-lavender-latte: #eae6fc;
$back-espresso: #e5e6e8;
